@import "common/var";
@import "mixins/mixins";
@import "mixins/utils";

@include b(row) {
  position: relative;
  box-sizing: border-box;
  @include utils-clearfix; // 定义于 mixins/utils.scss 文件中

  @include m(flex) {
    display: flex;
    &:before,
    &:after {
      display: none;
    }

    @include when(justify-center) {
      justify-content: center;
    }
    @include when(justify-end) {
      justify-content: flex-end;
    }
    @include when(justify-space-between) {
      justify-content: space-between;
    }
    @include when(justify-space-around) {
      justify-content: space-around;
    }

    @include when(align-middle) {
      align-items: center;
    }
    @include when(align-bottom) {
      align-items: flex-end;
    }
  }

}

/* 上面代码编译后的结构是：

.el-row {
  position: relative;
  box-sizing: border-box;
}

.el-row:after, 
.el-row:before {
  display: table;
  content: "";
}
.el-row:after {
  clear: both;
}

.el-row--flex {
  display: flex;
}
.el-row--flex:after,
.el-row--flex:before {
  display: none
}

.el-row.is-justify-center {
  justify-content: center;
}
.el-row.is-justify-end {
  justify-content: flex-end;
}
.el-row.is-justify-space-between {
  justify-content: space-between;
}
.el-row.is-justify-space-around {
  justify-content: space-around;
}

.el-row.is-align-middle {
  align-items: center;
}
.el-row.is-align-bottom {
  align-items: flex-end;
}

*/
